[submodule "tsl/ext/glm"]
	path = tsl/ext/glm
	url = https://github.com/g-truc/glm.git
[submodule "tsl/ext/fmt"]
	path = tsl/ext/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "tsl/test/ext/googletest"]
	path = tsl/test/ext/googletest
	url = https://github.com/google/googletest.git
[submodule "tse/ext/glew"]
	path = tse/ext/glew
	url = https://github.com/Perlmint/glew-cmake.git
[submodule "tse/ext/glfw"]
	path = tse/ext/glfw
	url = https://github.com/glfw/glfw.git
